#wrapper {
  width: 1080px;
  margin: 6px auto;
}

body{
	font-family:'Dosis',arial;
	background-image: url(jake.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
}
